/bin/
/lib/
/include/
/utils/

/data/core.ung
/data/editor2.ung
/data/scripts.ung

/obj/
/.gemini/
*.csproj.user
*.suo
.vs/

/data/.runtimes/
/data/.editor2/
/data/.cache_textures/
/data/.thumbnails/
/.thumbnails/
/data/guids.db
*.cache
*.gpu_cache

*.log
log.html
*.dmp
/screenshots/

/data/configs/default.config
/data/configs/default.config.meta
/data/configs/default.user
/data/configs/default.user.meta

Thumbs.db
desktop.ini
.DS_Store
